*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blocks{
 background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(228,152,91,1) 87%, rgba(226,150,93,1) 100%, rgba(252,176,69,1) 100%);
  /* margin-bottom: 15px; */
  width: 80px;
  height: 90px;
  /* border-bottom: 10px solid rebeccapurple; */
  /* border-right : 10px solid royalblue; */
 
  /* margin-right: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color:wheat;

 
}

.ews{
  position: relative;
  
  
  justify-content: center;
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  /* you can put hero svg or any animation in background so that it will lookg like  hastag  when working , it will be very sexy ..
  */
}
.ews{
background-color: #4d00c0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='92' viewBox='0 0 112 92'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M72 10H40L16 20H0v8h16l24-14h32l24 14h16v-8H96L72 10zm0-8H40L16 4H0v8h16l24-6h32l24 6h16V4H96L72 2zm0 84H40l-24-6H0v8h16l24 2h32l24-2h16v-8H96l-24 6zm0-8H40L16 64H0v8h16l24 10h32l24-10h16v-8H96L72 78zm0-12H40L16 56H0v4h16l24 14h32l24-14h16v-4H96L72 66zm0-16H40l-24-2H0v4h16l24 6h32l24-6h16v-4H96l-24 2zm0-16H40l-24 6H0v4h16l24-2h32l24 2h16v-4H96l-24-6zm0-16H40L16 32H0v4h16l24-10h32l24 10h16v-4H96L72 18z'/%3E%3C/g%3E%3C/svg%3E");
}

.be{
  display: flex;
  height: 90%;
  width: 100%;
  position:absolute;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
 
  
}

.wint{
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration-color: darkcyan;
  color: darkmagenta;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.players{
  font-size: 17px;
}


.Move{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display:  flex;
  width: 100%;
  justify-content: space-around;
}

button{
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(228,152,91,1) 87%, rgba(226,150,93,1) 100%, rgba(252,176,69,1) 100%);
  border: none;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  color: antiquewhite;
}
button:hover{
  background: rgb(131,58,180);
  color: whitesmoke;
  border-radius: 5px;
}
